.footer {
  background-color: #eeeeef;
  p {
    color: rgb(107, 114, 128);
    padding: 0.5vw;
    user-select: none;
    text-align: left;
    font-size: 0.75vw;
    line-height: 1.2;
    letter-spacing: 2px;
  }
}
