.section {
  &-screen {
    background-color: color-bg(white);
    &-transparent {
      background-color: color-bg(transparent);
    }
  }
  &-block {
    position: relative;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;

    &__top {
      margin-bottom: $spacing-small;
      position: relative;
    }
    &__main {
      position: relative;
      svg:not(.icon) {
        margin: 0 auto;
      }
      a:not(.btn):not(.alert-close-icon) {
        color: #004ab3;
        text-decoration: none;
      }
      &-background {
        background-color: color(white);
        padding: $spacing;
        border-radius: $border-radius-base;
        position: relative;
        a:not(.btn):not(.alert-close-icon) {
          color: #004ab3;
          text-decoration: none;
        }
      }
    }
    &__col {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: $spacing-small;
      padding-left: $spacing-small;
      &:not(:last-child) {
        margin-bottom: $spacing-small;
      }
    }
    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$spacing-small;
      margin-right: -$spacing-small;
      &-note {
        @include font-size(xxxs);
        font-style: italic;
        margin: 0;
        display: flex;
        width: 100%;
      }
      &-note-pie-chart {
        display: flex;
        width: 100%;
        span {
          display: inline-block;
          position: relative;
          padding-left: $spacing;
          @include font-size(pre);
          &:not(:last-child) {
            margin-right: calc($spacing);
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 100%;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background-color: currentcolor;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: rgba(#000, 0.25);
          }
        }
      }
      &.row-2 {
        .section-block__col {
          flex: 0 0 auto;
          width: 50%;
        }
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $spacing-small;
      &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.grid-4 {
        grid-template-columns: repeat(4, 1fr);
      }
      &-item {
        &-title {
          margin: 0;
        }
        &-number {
          @include font-size(h4);
          @include font-weight(strong);
        }
      }
    }
    &__btn {
      width: 100%;
      background-color: color-bg(white);
      border-color: color-border(divider);
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      padding: 0.5rem 0.75rem;
      // margin-bottom: $spacing;
      border-radius: 0.5rem;
      @include font-weight(strong);

      .icon {
        background-color: get-color(dark, 4);
        @include border-radius(50%);
        width: 32px !important;
        max-width: 100%;
        padding: calc($spacing-small / 2);
        // width: calc(24px + $spacing-small) !important;
      }
      .icon-right {
        margin-left: auto;
        .icon {
          background-color: color-bg(transparent);
          padding: 0;
        }
      }
      &-group {
        @include reset-list();
        &-item {
        }
      }
    }
  }
  &-title {
    @include font-size(title);
    @include font-weight(strong);
    @include user-select(none);
    color: color(title);
    margin: 0;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 4px;
    }
    &__sub {
      @include font-size(subtitle);
      @include font-weight(base);
      margin: 0;
      color: color(subtitle);
    }
  }
  &-btn {
    &__right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 0.1rem;
      @include font-size(sm);
      @include font-weight(strong);
      background-color: transparent !important;
      border: none !important;
      color: get-color(primary, 2) !important;
      box-shadow: none;
      // &:active {
      //   &:hover {
      //     background-color: transparent !important;
      //     border: none;
      //     color: get-color(primary, 2);
      //   }
      // }
    }
  }
}
