.breadcrumbs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include font-size(base);
  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumb {
    &-link {
      color: get-color(dark, 1);
      transition: color 0.3s;
      margin: 0;
      display: flex;
      align-items: center;
      @include user-select(none);
    }
    &-separator {
      margin: 0 8px;
      color: get-color(dark, 1);
    }
  }
  &.breadcrumb-dark {
    .breadcrumb {
      &-link {
        color: get-color(light, 0);
      }
      &-separator {
        color: get-color(light, 0);
      }
    }
  }
}
