.empty {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing $spacing-small;
  img {
    max-width: 150px;
    margin-bottom: $spacing-small;
  }
  .icon {
    width: 64px;
    max-width: 100%;
    margin-bottom: $spacing-small;
  }
  p {
    margin: 0 auto;
    padding: 0;
    @include font-size(xs);
  }
  .empty-title {
    @include font-size(base);
    font-weight: 700;
  }
}
