.list {
  box-sizing: border-box;
  margin: 0;
  color: color(dark);
  @include font-size(text);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  margin-bottom: $list--padding-v;
  > * {
    outline: none;
  }
  &-header {
    padding-top: 12px;
    padding-bottom: 12px;
    @include font-size(header);
    @include font-weight(header);
    background-color: color-bg(light);
    padding: calc($list--padding-v / 4) $list--padding-v;
    margin-bottom: calc($list--padding-v / 2);
  }
  &-content {
    position: relative;
    transition: opacity 0.3s;
  }
  &-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    li {
      margin-bottom: 0;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color(dark);
    max-width: calc($list--padding-v / 2 + 110px);
    padding: 0 calc($list--padding-v / 2);
    margin-bottom: 0;
    .btn-image {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: $list--button-radius;
      padding: calc($list--padding-v / 4);
      span {
        @include font-size(text);
      }
    }
  }
}
