// Larger images, extra width
$image-larger--extra-width:	48px;			// left and right exceeding pixels (.image-larger)

// img radius
$img-radius: 0.25rem;

// radius based 
$border-radius-base: 0.25rem;

// z Index

$zIndexL: 99;
$zIndexM: 9;
$zIndexS: 1;
