// Widths and spacing

// Breakpoints
$breakpoints: (
	small:	480px,
	medium: 640px,
	large: 	1024px,
	phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);

// Containers widths
$container--width-boxed: 		1440px;		// boxed container width
$container--width: 				1366px;		// container width
$container--width-sm:			896px;		// container sm width
$container--width-xs: 			620px;		// container xs width
$container--padding:	16px;		// container, left and right padding (mobile)

$spacing-small: 8px;
$spacing: 16px;
$spacing-large: 24px;

// $border-radius: 
